form {
  display: grid;
  grid-gap: 10px;
  padding: 10px 0;
  width: 95%;
  margin: auto;
}
input,
select {
  height: 35px;
  border: none;
  border-bottom: solid 2px rgb(196, 196, 196);
  font-size: 17px;
  font-weight: 500;
  outline: none;
  transition: all 0.3s ease-in;
  color: gray;
}
label {
  height: 35px;
  border: none;
  border-bottom: solid 2px rgb(196, 196, 196);
  font-size: 17px;
  outline: none;

  color: gray;
}

input:hover {
  border-bottom: solid 2px black;
}
select:hover {
  border-bottom: solid 2px black;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 35px !important;
  border: none input !important;
  border-bottom: solid 2px rgb(196, 196, 196) !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  outline: none !important;
  transition: all 0.3s ease-in !important;
  color: gray !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.invalid-dates {
  border-bottom: solid 2px rgb(211, 99, 99) !important;
}
input:valid:required {
  border-bottom: solid 2px #3eb372 !important;
}

button {
  margin-top: 1em;
  box-shadow: 0 2px 2px 0 rgb(252 45 34 / 14%),
    0 3px 1px -2px rgb(252 45 34 / 20%), 0 1px 5px 0 rgb(252 45 34 / 12%);
  background-color: #fc2d22;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 3px;
}

.MuiOutlinedInput-input::placeholder {
  color: gray;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  opacity: 1;
}

.MuiOutlinedInput-notchedOutline {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
